.Header{
    height: 60px;
    width: 100%;

    padding-left: 10px;
    padding-right: 10px;

    align-items: center;
    background-color: #29b6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}